fastapi
python-multipart
pydantic
pydantic-settings
uvicorn
pytest
pytest-cov
httpx
# python_odt_template[standard]
git+https://github.com/jp-96/python-odt-template.git@pathguard#egg=python_odt_template[standard]
docxtpl
# relatorio[chart,fodt]
git+https://github.com/jp-96/relatorio.fork.git#egg=relatorio[chart,fodt]
unoserver
